<link rel="stylesheet" type="text/css" href="/CSS/header.css">
<link rel="stylesheet" type="text/css" href="/CSS/style.css">

<header class="main-header">
    <nav class="nav-bar">
        <div class="nav-left">
            <a href="/Home">
                <img id="homeBtn" src="/Pictures/grunt-logo.png" alt="Home" style="cursor: pointer;">
            </a> 
        </div>
        <div class="nav-right" id="nav-links">
            <!-- Default login/signup links will be here, hidden if token is present -->
            <a href="/Accounts/Login" class="login" id="loginLink">Login</a>
            <a href="/Accounts/Signup" class="signup" id="signupLink">Sign Up</a>

            <!-- Account dropdown, hidden if token is not present -->
            <div class="dropdown" id="dropDown">
                <button class="account" onclick="toggleDropdown()">Account</button>
                <div id="accountDropdown" class="dropdown-content">
                    <a href="#" id="profileLink">Profile</a>
                    <a href="/Accounts/${username}/Settings" id="settingsLink">Settings</a>
                    <a href="javascript:void(0)" id="logoutBtn" onclick="logout()">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    
</header>
