<link rel="stylesheet" type="text/css" href="/CSS/reviewTemplate.css">
<link rel="stylesheet" type="text/css" href="/CSS/style.css">

<div class="review">
    <div class="author-name">{{authorName}}</div>
    <div class="rating-row">
        <div class="review-rating">⭐ {{rating}}</div>
        <div class="review-date">{{createdDate}}</div>
    </div>
    <div class="review-text">{{reviewText}}</div>
    <div class="review-photo">
        <img src="{{reviewPhoto}}" alt="Review Photo"/>
    </div> 
</div>
