p{
    font-weight: bold;
}

#caveman {
    max-width: 100%;  /* Ensure the image doesn't stretch beyond its container */
    height: auto;  /* Maintain aspect ratio */
    display: block;  /* Prevent space below the image */
    margin: 0 auto;  /* Center the image horizontally if needed */
    margin-bottom: 5rem;
}

#about-title, #why-title {
    text-align: center;
    color:#ffde59;
    margin-top: 5rem;
}


#about-paragraph, #why-paragraph {
    line-height: 2;  /* This will double-space the text */
    margin-left: 15rem;
    margin-right: 15rem;
    color:#a5521c;
}