body {
    background-color: #621d1a;
}

#map {
    height: 50rem;
    width: 60%;
    margin: auto;
}

/* Search Section */

.search-section {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

.search-section input {
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
}

#searchBtn {
    padding: 0.5rem 1rem;
    background-color: #efb510;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

#locationSearch {
    width: 30rem;
}

#searchBtn:hover {
    background-color: darkred;
}

.top-rated-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    /* font-size: 3rem; */
}

#top-rated-title{
    color:#ffde59;
}