body{
    background-color: #621d1a;
}

label{
    color:#ffde59;
    text-align: center;
    font-size: 2rem;
}

input {
    background-color: #a5521c;
    width: 15rem;
    height: 1.5rem;
}

#title{
    color:#ffde59;
    text-align: center;
    margin-top: 5rem;
}

#loginForm{
    padding-top: 5rem;
    color: #ffde59;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    margin-bottom: 1rem;
    flex-direction: column;
}

#signup-section{
    margin-top: 1.5rem;
    font-size: 1.2rem;
    text-align: center;
}