.star-rating {
    direction: ltr;
    font-size: 2em; /* font size is twice the size of the parent */
    display: inline-block;
}

.default-star {
    cursor: pointer;
    /* color: #ccc; Gray */
    /* transition: color 0.2s ease; */
}

.hovered {
    color: rgba(255, 215, 0, 0.25); /* Gold with 50% opacity */
}

.selected {
    color: gold; 
}

.rating-row {
    display: flex;
    align-items: center; /* vertically center */
    gap: 10px; /* optional spacing between stars and text */
}

.star-rating {
    display: flex;
}

.rating-label {
    font-size: 1rem;
    color: #727272;
}