html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.invisTextArea {
    resize: none;
    width: 100%;
    height: 30vh;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: none;
}

#name-container{
    padding: 0.1rem;
    text-align: center;
    background-color: #f8f8f8;
}


.review-container{
    width:40vh;
    border: 0.1rem solid;
    border-radius: 4px; /* rounded corners */
    padding: 1rem; 
}

/* Individual form styling */
#reviewForm, #translatedForm {
    /* flex:0 1 45%;                         Allow both forms to take equal space */
    max-width: 45%;                  /* Optional: limits the width of each form */
    /* min-width: 300px;  */
}

.page-wrapper {
    display: flex;
    justify-content: space-between;   /* Space the forms out */
    align-items: flex-start;
    padding: 1rem 10%;                /* Adds padding to the left and right */
    height: 100vh;
    background-color: #f8f8f8;
    flex-wrap: wrap;     
}

.star-rating {
    direction: ltr;
    font-size: 2em; /* font size is twice the size of the parent */
    display: inline-block;
}

.default-star {
    cursor: pointer;
    /* color: #ccc; Gray */
    /* transition: color 0.2s ease; */
}

.hovered {
    color: rgba(255, 215, 0, 0.25); /* Gold with 50% opacity */
}

.selected {
    color: gold; 
}

.rating-row {
    display: flex;
    align-items: center; /* vertically center */
    gap: 10px; /* optional spacing between stars and text */
}

.star-rating {
    display: flex;
}

.rating-label {
    font-size: 1rem;
    color: #727272;
}

#reviewBtn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    height: 3.5vh;
    width: 10vh;
    font-size: 1rem; 
    cursor: pointer;
}

.error-message {
    display: none;
    color: red;
}
