.rating-row {
    display: flex;
    gap: 1rem;
    align-items: center;            /* vertically centers them */
    flex-wrap: nowrap;
}

.review-date {
    color: #ccc;
}

.review{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    padding: 1rem;
    width: 100%;
    /* max-width: 2rem; */
}

.author-name{
    font-weight: bold;
}

.restaurant-name{
    font-weight: bold;
    display: flex;
    justify-content: space-between; 
    /* align-items: center;          */
    width: 100%;               
}

.delete-btn {
    /* background: none;               
    border: none;                    */

    font-size: 1.2rem;              /* Set the icon size */
    cursor: pointer;               /* Show pointer cursor on hover */
    padding: 0;                     /* Remove any padding */
    margin-left: 1rem;              /* Optional: Space between restaurant name and button */
    align-items: right;
}