.rating-row {
    display: flex;
    gap: 1rem;
    align-items: center;            /* vertically centers them */
    flex-wrap: nowrap;
}

.review-date {
    color: #ccc;
}

.review{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* padding: 1rem; */
    width: 100%;
    border: none;
}

.reviewOuter{
    border: 0.25rem solid rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(138, 138, 138);
}

.author-name{
    font-weight: bold;
    /* text-align: center; */
}


.restaurant-name{
    font-weight: bold;
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    color: rgb(223, 223, 223);              
}

.delete-btn {
    /* background: none;               
    border: none;                    */

    font-size: 1.2rem;              /* Set the icon size */
    cursor: pointer;               /* Show pointer cursor on hover */
    padding: 0;                     /* Remove any padding */
    margin-left: 1rem;              /* Optional: Space between restaurant name and button */
    align-items: right;
}

.review-text{
    margin-bottom: 1rem;
}

#toggleBtnContainer {
    display: flex;
    align-items: center;         
    justify-content: center;     
    width: 100%;                 
    margin: 0 auto;              
    padding-bottom: 3rem;
    margin-top: 2rem;
}