@import url('https://fonts.googleapis.com/css?family=Pixelify+Sans');

body {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 22px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #621d1a;
}

button {
    font-family: 'Pixelify Sans', sans-serif;
}

button:hover{
    cursor:grab;
}

a {
    color:#ffde59;
}

a:hover {
    color: #c0392b;
}

/* a:visited {
    color: #9b59b6;
} */

#footer-placeholder{
    margin-top: auto;
}

.submitBtn{
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    background-color: #ea6e1d;
    font-size: 1.5rem;
    text-align: center;
    color:black;
}