@import url('https://fonts.googleapis.com/css?family=Pixelify+Sans');

body {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 22px;
}

button {
    font-family: 'Pixelify Sans', sans-serif;
}

button:hover{
    cursor:grab;
}

a {
    color:#ffde59;
}

a:hover {
    color: #c0392b;
}

/* a:visited {
    color: #9b59b6;
} */